@import "components/vars";
@import "components/header";
@import "components/footer";

html {scroll-behavior: smooth;}
* {box-sizing: border-box; font-family: "Outfit", sans-serif;}
a {text-decoration: none; transition: 0.2s; font-family: "Outfit", sans-serif;}
img {display: block;}

body {
    margin: 0; padding: 0;
    display: flex; flex-direction: column; align-items: center;
}


.crumbbox {
    display: flex; align-items: center;
    position: absolute; top: 140px; left: 0;
    z-index: 90;
    // background-color: burlywood;

    .crumbline {
        width: 10vw;
        height: 1px; 
        margin-right: 20px;
        background-color: $g220;
    }
    .breadcrumb {
        color: $g180;
        text-transform: uppercase;
        font-size: 12px; font-weight: 400; letter-spacing: 3px;
        a, span {color: $c_bb;}
        a:hover {color: $maincolor;}
        // background-color: aquamarine;
    }
}
.page-title {
    position: fixed; bottom: 50px; left: 4.5vw;
    color: $g180; font-size: 12px;
    text-transform: uppercase;
    writing-mode: vertical-lr;
    transform: scale(-1, -1);
}


main {
    position: relative;
    width: 80%;
    min-height: 100vh;
    margin: 120px 0 0;
    padding: 50px 0px;
    // background: url("../assets/alast-test.svg") no-repeat top right;
    // background-size: 500px;
    // background-color: rgba(95, 158, 160, 0.171);

    & > h1.main-title {
        text-align: center;
        font-size: 82px;
        margin: 0 0 50px;
        // background-color: blueviolet;
        span.mil-thin {font-weight: 100;}
    }
}
section {
    display: flex;
    flex-direction: column; 
    // scroll-margin-top: 200px;
    margin: 0 0 80px;
    &:last-child {margin: 0;}
    p {width: 100%; color: $g180; text-align: justify;}
    // background-color: #f1cece;
    
    h2 {text-align: center; text-transform: capitalize;}
    & > h2.main-title {
        font-size: 52px;
        margin: 0 0 20px;
        // background-color: rgb(78, 156, 71);
        span.mil-thin {font-weight: 100;}
    }

    &.test {align-items: start;}
}
.off_publication {
    width: 100%;
    background-color: #f2f2f2;
    // & > main {margin: 0 auto; padding: 100px 20px;}
}









// btn & a
button.btn, a.btn {
    display: inline-flex;
    // display: inline;
    align-items: center;
    
    border: none;
    border-radius: 50px;
    font-size: 12px;
    font-weight: 500 !important;
    text-transform: uppercase;
    
    text-decoration: none;
    padding: 15px 15px 15px 50px;
    margin-bottom: 0;
    letter-spacing: 2px;
    cursor: pointer;
    transition: all .4s ease-in-out;

    img {width: 40px; margin-left: 30px; transition: all .4s ease-in-out;}
    &:hover {transform: scale(1.01);}
    &:hover img {transform: scale(1.15);}
}
a.no-rm {padding: 0 !important;}

.btn-orange {background-color: $maincolor; color: $c_bb;}
.btn-white {background-color: $c_ww; color: $c_bb;}
.btn-black1 {background-color: $c_bb; color: $c_ww;}
.btn-black2 {background-color: $c_bb; color: #999999;}

div.btn-shape {
    width: 240px;
    height: 70px;

    // with BG
    background: url("../assets/test.jpg") no-repeat center center;
    background-size: cover;
    border-radius: 50px;

    // with IMG
    // overflow: hidden;
    img {}

}





@import "pages/home";
@import "pages/about";
@import "pages/contact";
@import "pages/solutions";





@media screen and (max-width: 1023px) {
    .crumbbox .crumbline {width: 5vw;}
    .page-title {left: 1.8vw;}
    main {
        width: 90%;
        padding: 50px 0;

        & > h1.main-title {
            font-size: 62px;
        }
    }
    section {        
        & > h2.main-title {font-size: 32px;}
    }
}

@media screen and (max-width: 767px) {
    .crumbbox {display: none;}
    .page-title {display: none;}
    main {
        margin: 0;
        padding: 30px 0;
    
        & > h1.main-title {
            font-size: 42px;
            margin: 0 0 30px;
        }
    }
}