@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
h1, h2, h3, h4, h5, h6 {
  display: block;
  font-weight: 500;
  margin: 0;
}

header, header div {
  display: flex;
}

header {
  justify-content: center;
  position: fixed;
  top: 0;
  width: 100vw;
  padding: 20px 0;
  z-index: 100;
  background-color: white;
}
header div {
  justify-content: space-between;
  align-items: center;
  width: 90%;
}
header div img {
  height: 60px;
}
header nav a {
  text-decoration: none;
  margin-left: 15px;
  color: black;
}
header nav a:hover, header nav a.active {
  color: #ff9800;
}

footer, footer div, footer nav {
  display: flex;
}

footer {
  justify-content: center;
  width: 100%;
  padding: 120px 0;
  background-color: black;
}
footer div.fbox {
  justify-content: space-between;
  align-items: start;
  width: 1100px;
}
footer div.fbox .fleft {
  width: 50%;
}
footer div.fbox .fleft img {
  height: 80px;
}
footer div.fbox nav {
  flex-direction: column;
  width: 25%;
}
footer div.fbox nav:nth-child(2) a {
  font-size: 20px;
  font-weight: 500;
  color: white;
}
footer div.fbox nav:nth-child(3) a {
  font-size: 14px;
  font-weight: 100;
  color: rgb(220, 220, 220);
}
footer div.fbox nav a {
  text-decoration: none;
  margin-bottom: 15px;
}
footer div.fbox nav a.active {
  color: #ff9800;
}

html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
  font-family: "Outfit", sans-serif;
}

a {
  text-decoration: none;
  transition: 0.2s;
  font-family: "Outfit", sans-serif;
}

img {
  display: block;
}

body {
  margin: 0;
}

.crumbbox {
  display: flex;
  align-items: center;
  position: absolute;
  top: 180px;
  left: 0;
}
.crumbbox .crumbline {
  height: 1px;
  width: calc((100vw - 1175px) / 2);
  margin-right: 20px;
  background-color: rgb(220, 220, 220);
}
.crumbbox .breadcrumb {
  color: rgb(180, 180, 180);
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 3px;
}
.crumbbox .breadcrumb a, .crumbbox .breadcrumb span {
  color: black;
}
.crumbbox .breadcrumb a:hover {
  color: #ff9800;
}

.page-title {
  position: fixed;
  bottom: 5vw;
  left: 5%;
  color: rgb(180, 180, 180);
  font-size: 12px;
  text-transform: uppercase;
  writing-mode: vertical-lr;
  transform: scale(-1, -1);
}

main {
  margin: 100px auto 0;
  background: url("../assets/alast-test.svg") no-repeat top right;
  background-size: 500px;
  width: 1160px;
  padding: 130px 20px 0;
}
main > h1.main-title {
  font-size: 82px;
  margin: 0 0 80px;
}
main > h1.main-title span.mil-thin {
  font-weight: 100;
}

section {
  display: flex;
  flex-direction: column;
  scroll-margin-top: 200px;
  margin: 0 0 150px;
}
section p {
  width: 70%;
  color: rgb(180, 180, 180);
  text-align: justify;
}
section h2 {
  text-align: center;
  text-transform: capitalize;
}
section > h2.main-title {
  font-size: 52px;
  margin: 0 0 70px;
}
section > h2.main-title span.mil-thin {
  font-weight: 100;
}

button.btn, a.btn {
  display: inline-flex;
  align-items: center;
  border: none;
  border-radius: 50px;
  font-size: 12px;
  font-weight: 500 !important;
  text-transform: uppercase;
  text-decoration: none;
  padding: 15px 15px 15px 50px;
  margin-bottom: 0;
  letter-spacing: 2px;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
}
button.btn img, a.btn img {
  width: 40px;
  margin-left: 30px;
  transition: all 0.4s ease-in-out;
}
button.btn:hover, a.btn:hover {
  transform: scale(1.01);
}
button.btn:hover img, a.btn:hover img {
  transform: scale(1.15);
}

a.no-rm {
  padding: 0 !important;
}

a.btn-orange {
  background-color: #ff9800;
  color: black;
}

a.btn-white {
  background-color: white;
  color: black;
}

a.btn-black1 {
  background-color: black;
  color: white;
}

a.btn-black2 {
  background-color: black;
  color: #999999;
}

div.btn-shape {
  width: 240px;
  height: 70px;
  background: url("../assets/test.jpg") no-repeat center center;
  background-size: cover;
  border-radius: 50px;
}
main.main_about section {
  align-items: center;
}

.award_box, .award,
.team_box, .member_over,
.gallery, .gal_image,
.solution_box, .sol_top {
  display: flex;
}

section#awards .award_box .award {
  flex-direction: column;
  justify-content: space-between;
  width: 250px;
  margin-right: 80px;
}
section#awards .award_box .award:last-child {
  margin-right: 0;
}
section#awards .award_box .award img {
  width: 100%;
  margin-bottom: 30px;
}
section#awards .award_box .award div {
  text-align: center;
}
section#awards .award_box .award h4, section#awards .award_box .award h5 {
  font-size: 14px;
  color: rgb(70, 70, 70);
}
section#awards .award_box .award h5 {
  font-weight: 700;
}
section#awards .award_box .award h4 {
  font-weight: 200;
}

section#gallery h3 {
  text-align: center;
  margin-bottom: 20px;
}
section#gallery .gallery {
  margin-bottom: 30px;
}
section#gallery .gallery .gal_image {
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 210px;
  margin-right: 1px;
}
section#gallery .gallery .gal_image:last-child {
  margin-right: 0;
}
section#gallery .gallery .gal_image .img {
  width: 100%;
  height: 190px;
  overflow: hidden;
  cursor: pointer;
}
section#gallery .gallery .gal_image .img img {
  width: 350px;
  transition: 0.5s;
}
section#gallery .gallery .gal_image h4 {
  font-size: 12px;
  color: rgb(70, 70, 70);
  font-weight: 200;
}
section#gallery .gallery .gal_image:hover img {
  transform: scale(1.05);
}

section#team .team_box .member {
  position: relative;
  width: 250px;
  height: 250px;
  overflow: hidden;
  margin-right: 30px;
}
section#team .team_box .member:last-child {
  margin-right: 0;
}
section#team .team_box .member img {
  width: 102%;
  transition: 500ms;
}
section#team .team_box .member:hover img {
  width: 100%;
}
section#team .team_box .member:hover .member_over {
  background-color: rgba(0, 0, 0, 0.8);
  padding-bottom: 50px;
}
section#team .team_box .member:hover .member_over > * {
  opacity: 1;
}
section#team .team_box .member .member_over {
  flex-direction: column;
  justify-content: end;
  align-items: center;
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  z-index: 5;
  transition: 0.5s;
  padding-bottom: 40px;
}
section#team .team_box .member .member_over > * {
  opacity: 0;
  transition: 0.5s;
}
section#team .team_box .member .member_over::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  width: 0;
  height: 5px;
  background: #ff9800;
  transition: width 500ms ease-in-out;
}
section#team .team_box .member .member_over:hover::after {
  width: 100%;
}
section#team .team_box .member .member_over a {
  font-size: 20px;
  font-weight: 400;
  color: white;
  text-transform: capitalize;
}
section#team .team_box .member .member_over span {
  margin: 10px 0;
  font-size: 12px;
  color: rgb(180, 180, 180);
  text-transform: uppercase;
  letter-spacing: 3px;
}
section#team .team_box .member .member_over .member_socials a {
  color: white;
  font-size: 12px;
  margin-right: 10px;
}
section#team .team_box .member .member_over .member_socials a:last-child {
  margin-right: 0;
}
section#team .team_box .member .member_over .member_socials a:hover {
  color: #ff9800;
}

section#solutions .solution_box {
  flex-wrap: wrap;
}
section#solutions .solution_box .solution {
  width: 47%;
  margin: 0 6% 80px 0;
}
section#solutions .solution_box .solution:nth-child(2n) {
  margin: 0 0 80px 0;
}
section#solutions .solution_box .solution .sol_img {
  width: 100%;
  height: 400px;
  overflow: hidden;
  margin-bottom: 50px;
}
section#solutions .solution_box .solution .sol_img img {
  width: 100%;
  transition: 500ms;
}
section#solutions .solution_box .solution .sol_img:hover img {
  transform: scale(1.05);
}
section#solutions .solution_box .solution .sol_top {
  justify-content: space-between;
  flex-direction: row-reverse;
  align-items: center;
}
section#solutions .solution_box .solution .sol_top span {
  color: #ff9800;
  font-size: 12px;
  text-transform: uppercase;
}
section#solutions .solution_box .solution .sol_top a {
  color: black;
  font-size: 28px;
  font-weight: 700;
}
section#solutions .solution_box .solution .sol_top a:hover {
  color: rgb(70, 70, 70);
}
section#solutions .solution_box .solution p {
  margin: 30px 0;
  width: 100%;
}

section#solutions .solutions_top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: yellowgreen;
}