{% load i18n static %}

<div class="solution">
	<div class="sol_img">
		<!-- <a href="">
		   {% if solution.thumbnail %}
		   <img src="{{ solution.thumbnail.url }}" alt="{{ solution.title }}" width="250px" height="auto">
		   {% else %}
		   <img src="{{ solution.cover_image.url }}" alt="{{ solution.title }}" width="250px" height="auto">        
		   {% endif %}
		</a> -->
	</div>

	<div>
		<div class="sol_top">
			<span>category</span>
			<a href="">
				<h4>{{ pub.title }}</h4>
			</a>
		</div>

		<span>{% trans "By" %} {{ pub.authors }}</span>
		
		<p>{{ pub.subtitle }}</p>

		<a href="#" class="btn btn-white no-rm">Read More<img src="{% static 'assets/g1b.svg' %}"></a>
	</div>    
</div>