{% extends "_base.html" %}
{% load i18n static %}
{% block title %}{{ page_title }}{% endblock title %}

{% block content %}
<main class="main_publications">

	<h1 class="main-title">Exploring
	   <span>
		  <span class="mil-thin">the World<br>through</span>
	   </span>our Blog
	</h1>
	
	{% include "../components/btns/wg-down-inside.html" with title='publications' link='publications' %}

	<section id="publications">
		<div class="solution_box">
			{% for pub in pubs %}
			  {% include "publications/_publication_card.html" %}
			{% endfor %}   
		</div>         
	</section>
</main>
{% endblock content %}