// main.main_about section {align-items: center;}

// all sections
#who_we_are, #strategies, #awards, #gallery, #team {align-items: center;}

.award_box, .award, 
.team_box, .member_over,
.gallery, .gal_image, 
.solution_box, .sol_top {display: flex;}


section#awards {
    .award_box {
        // background-color: aqua;
        
        .award {
            flex-direction: column;
            justify-content: space-between;
            width: 250px;
            margin-right: 80px;
            &:last-child {margin-right: 0;}
    
            img {width: 100%; margin-bottom: 30px;}
            div {text-align: center;}
            h4, h5 {font-size: 14px; color: $g70;}
            h5 {font-weight: 700;}
            h4 {font-weight: 200;}
        }
    }
}

section#gallery {
    h3 {text-align: center; margin-bottom: 20px;}
    .gallery {
        // background-color: bisque;
        margin-bottom: 30px;
        
        .gal_image {
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            height: 210px;
            margin-right: 1px;
            &:last-child {margin-right: 0;}
            // background-color: aqua;
            
            .img {
                width: 100%; height: 190px; 
                overflow: hidden; 
                cursor: pointer;
                img {width: 350px; transition: 0.5s;}
            }
            h4 {font-size: 12px; color: $g70; font-weight: 200;}
            &:hover img {transform: scale(1.05);}
        }
    }
}

section#team {
    .team_box {
        // justify-content: center;
        // background-color: aqua;

        .member {
            position: relative;
            width: 250px; height: 250px;
            overflow: hidden;
            margin-right: 30px;
            &:last-child {margin-right: 0;}
            img {width: 102%; transition: 500ms;}

            &:hover img {width: 100%;}
            &:hover .member_over {background-color: rgba(0,0,0,0.8); padding-bottom: 50px;}
            &:hover .member_over > * {opacity: 1;}

            .member_over {
                flex-direction: column;
                justify-content: end;
                align-items: center;
                text-align: center;
                position: absolute; top: 0; left: 0;
                width: 100%; height: 100%;
                background-color: rgba(0,0,0,0.1);
                // background-color: rgba(0,0,0,0.7);
                z-index: 5; 
                transition: 0.5s;
                padding-bottom: 40px;
                & > * {opacity: 0; transition: 0.5s;}

                &::after {
                    content: '';
                    position: absolute; left: 0; bottom: 0;
                    display: block;
                    width: 0; height: 5px;
                    background: $orng;
                    transition: width 500ms ease-in-out;
                }
                &:hover::after {width: 100%;}


                a {
                    font-size: 20px;
                    font-weight: 400;
                    color: $c_ww;
                    text-transform: capitalize;
                }
                span {
                    margin: 10px 0;
                    font-size: 12px;
                    color: $g180;
                    text-transform: uppercase; letter-spacing: 3px;
                }
                .member_socials {                
                    a {color: $c_ww; font-size: 12px; margin-right: 10px;}
                    a:last-child {margin-right: 0;}
                    a:hover {color: $orng;}
                }
            }
        }
    }
}

section#solutions, section#publications {
    // background-color: aqua;
    .solution_box {
        flex-wrap: wrap;
        
        .solution {
            width: 47%;
            margin: 0 6% 80px 0;
            &:nth-child(2n) {margin: 0 0 80px 0;;}
            // background-color: bisque;


            .sol_img {
                background-color: rgb(238, 236, 236);
                width: 100%;
                height: 400px;
                overflow: hidden;
                margin-bottom: 50px;
                img {width: 100%; transition: 500ms;}
                &:hover img {transform: scale(1.05);}
            }

            .sol_top {
                justify-content: space-between;
                flex-direction: row-reverse;
                align-items: center;
                span {
                    color: $orng;
                    font-size: 12px;
                    text-transform:uppercase;
                }
                a {color: $c_bb; font-size: 28px; font-weight: 700;}
                a:hover {color: $g70;}
                // text-transform: capitalize;
            }

            p {margin: 30px 0; width: 100%;}
        }
    }
}