main.main_solutions section {}

section#solutions, section#publications {

    .solutions_top {
        // width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: yellowgreen;
    }
}