header, header div {display: flex;}

header {
    justify-content: center;
    position: fixed; top: 0;
    width: 100vw;
    padding: 20px 0;
    z-index: 100;
    background-color: $c_ww;
    // border-bottom: 1px dotted gray;

    div {
        justify-content: space-between;
        align-items: center;
        width: 90%;
        // background-color: aquamarine;
        img {height: 60px;}
    }
    nav a {
        text-decoration: none;
        margin-left: 15px;
        color: $c_bb;
        &:hover, &.active {color: $orng;}
    }
}