{% extends "_base.html" %}
{% load i18n static %}
{% block title %}{{ page_title }}{% endblock title %}

{% block content %}
<main class="main_about">

   <!-- <h1 class="main-title">
      <span>About
         <span class="mil-thin">Us</span>
      </span>
   </h1> -->


   <!-- <ul>
      <li><a href="#who_we_are">{% trans "Who we are" %}</a></li>
      <li><a href="#strategies">{% trans "Strategies" %}</a></li>
      <li><a href="#team">{% trans "Team members" %}</a></li>
      <li><a href="#awards">{% trans "Awards" %}</a></li>
      <li><a href="#gallery">{% trans "Gallery" %}</a></li>
      <li><a href="#solutions">{% trans "Solutions" %}</a></li>
   </ul> -->

   <section id="who_we_are">
      <h2 class="main-title">
         <span>Who
            <span class="mil-thin">we are</span>
         </span>
      </h2>
      <p>
         Lorem ipsum, dolor sit amet consectetur adipisicing elit. Commodi nisi nobis, nesciunt omnis quos necessitatibus
         alias velit natus autem. Dolorum ipsum nihil sed delectus eligendi quibusdam fugiat blanditiis animi. Asperiores?
      </p>
      <p>
         Lorem ipsum, dolor sit amet consectetur adipisicing elit. Commodi nisi nobis, nesciunt omnis quos necessitatibus
         alias velit natus autem. Dolorum ipsum nihil sed delectus eligendi quibusdam fugiat blanditiis animi.
         Asperiores?Lorem ipsum, dolor sit amet consectetur adipisicing elit. Commodi nisi nobis, nesciunt omnis quos
         necessitatibus alias velit natus autem. Dolorum ipsum nihil sed delectus eligendi quibusdam fugiat blanditiis animi.
         Asperiores?Lorem ipsum, dolor sit amet consectetur adipisicing elit. Commodi nisi nobis, nesciunt omnis quos
         necessitatibus alias velit natus autem. Dolorum ipsum nihil sed delectus eligendi quibusdam fugiat blanditiis animi.
         Asperiores?Lorem ipsum, dolor sit amet consectetur adipisicing elit. Commodi nisi nobis, nesciunt omnis quos
         necessitatibus alias velit natus autem. Dolorum ipsum nihil sed delectus eligendi quibusdam fugiat blanditiis animi.
         Asperiores?
      </p>
   </section>


   <section id="strategies">
      <h2 class="main-title">
         <span>
            <span class="mil-thin">Our</span>
         </span>Strategies
      </h2>
      <p>
         Lorem ipsum, dolor sit amet consectetur adipisicing elit. Commodi nisi nobis, nesciunt omnis quos necessitatibus
         alias velit natus autem. Dolorum ipsum nihil sed delectus eligendi quibusdam fugiat blanditiis animi. Asperiores?
      </p>
      <p>
         Lorem ipsum, dolor sit amet consectetur adipisicing elit. Commodi nisi nobis, nesciunt omnis quos necessitatibus
         alias velit natus autem. Dolorum ipsum nihil sed delectus eligendi quibusdam fugiat blanditiis animi.
         Asperiores?Lorem ipsum, dolor sit amet consectetur adipisicing elit. Commodi nisi nobis, nesciunt omnis quos
         necessitatibus alias velit natus autem. Dolorum ipsum nihil sed delectus eligendi quibusdam fugiat blanditiis animi.
         Asperiores?Lorem ipsum, dolor sit amet consectetur adipisicing elit. Commodi nisi nobis, nesciunt omnis quos
         necessitatibus alias velit natus autem. Dolorum ipsum nihil sed delectus eligendi quibusdam fugiat blanditiis animi.
         Asperiores?Lorem ipsum, dolor sit amet consectetur adipisicing elit. Commodi nisi nobis, nesciunt omnis quos
         necessitatibus alias velit natus autem. Dolorum ipsum nihil sed delectus eligendi quibusdam fugiat blanditiis animi.
         Asperiores?
      </p>
   </section>


   <section id="awards">
      {% include "components/_show_awards.html" %}
   </section>


   <section id="gallery">
      <h2 class="main-title">
         <span>
            <span class="mil-thin">Our</span>
         </span>gallery
      </h2>
      {% for gallery in galleries %}
      <h3>{{ gallery }}</h3>
      <div class="gallery">
         {% for image in gallery.images.all %}
         <div class="gal_image">
            <div class="img"><img src="{{ image.file.url }}"></div>
            <h4>{{ image.title }}</h4>
         </div>
         {% endfor %}
      </div>
      {% endfor %}    
   </section>


   <section id="team">
      {% include "components/_show_team_members.html" %}
   </section>


   <section id="solutions">
      <h2 class="main-title">
         <span>
            <span class="mil-thin">Newest</span>
         </span>Solutions
      </h2>
      <!-- <a href="" class="btn btn-white no-rm">view all solutions<img src="{% static 'assets/g1b.svg' %}"></a> -->
      <!-- <br><br><br> -->
      <div class="solution_box">
         {% for solution in solutions|slice:":2" %}
            {% include "solutions/_solution_card.html" %}
         {% endfor %}     
      </div>         
   </section>

</main>
{% endblock content %}