{% extends "_base.html" %}
{% load i18n %}
{% block title %}{{ page_title }}{% endblock title %}

{% block content %}
<main>

   <!-- <h1 class="main-title">
      <span>Our Value 
         <span class="mil-thin">and</span>
         Vision
      </span>
   </h1> -->

   <!-- <ul>
      <li><a href="#who_we_are">{% trans "Who we are" %}</a></li>
      <li><a href="#strategies">{% trans "Strategies" %}</a></li>
      <li><a href="#team">{% trans "Team members" %}</a></li>
      <li><a href="#awards">{% trans "Awards" %}</a></li>
      <li><a href="#gallery">{% trans "Gallery" %}</a></li>
      <li><a href="#solutions">{% trans "Solutions" %}</a></li>
   </ul> -->

   <section id="who_we_are">
      <h2 class="main-title">
         <span>Who
            <span class="mil-thin">we are</span>
         </span>
      </h2>
      <p>
         Lorem ipsum, dolor sit amet consectetur adipisicing elit. Commodi nisi nobis, nesciunt omnis quos necessitatibus
         alias velit natus autem. Dolorum ipsum nihil sed delectus eligendi quibusdam fugiat blanditiis animi. Asperiores?
      </p>
      <p>
         Lorem ipsum, dolor sit amet consectetur adipisicing elit. Commodi nisi nobis, nesciunt omnis quos necessitatibus
         alias velit natus autem. Dolorum ipsum nihil sed delectus eligendi quibusdam fugiat blanditiis animi.
         Asperiores?Lorem ipsum, dolor sit amet consectetur adipisicing elit. Commodi nisi nobis, nesciunt omnis quos
         necessitatibus alias velit natus autem. Dolorum ipsum nihil sed delectus eligendi quibusdam fugiat blanditiis animi.
         Asperiores?Lorem ipsum, dolor sit amet consectetur adipisicing elit. Commodi nisi nobis, nesciunt omnis quos
         necessitatibus alias velit natus autem. Dolorum ipsum nihil sed delectus eligendi quibusdam fugiat blanditiis animi.
         Asperiores?Lorem ipsum, dolor sit amet consectetur adipisicing elit. Commodi nisi nobis, nesciunt omnis quos
         necessitatibus alias velit natus autem. Dolorum ipsum nihil sed delectus eligendi quibusdam fugiat blanditiis animi.
         Asperiores?
      </p>
   </section>


   <section id="strategies">
      <h2 class="main-title">
         <span>
            <span class="mil-thin">Our</span>
         </span>Strategies
      </h2>
      <p>
         Lorem ipsum, dolor sit amet consectetur adipisicing elit. Commodi nisi nobis, nesciunt omnis quos necessitatibus
         alias velit natus autem. Dolorum ipsum nihil sed delectus eligendi quibusdam fugiat blanditiis animi. Asperiores?
      </p>
      <p>
         Lorem ipsum, dolor sit amet consectetur adipisicing elit. Commodi nisi nobis, nesciunt omnis quos necessitatibus
         alias velit natus autem. Dolorum ipsum nihil sed delectus eligendi quibusdam fugiat blanditiis animi.
         Asperiores?Lorem ipsum, dolor sit amet consectetur adipisicing elit. Commodi nisi nobis, nesciunt omnis quos
         necessitatibus alias velit natus autem. Dolorum ipsum nihil sed delectus eligendi quibusdam fugiat blanditiis animi.
         Asperiores?Lorem ipsum, dolor sit amet consectetur adipisicing elit. Commodi nisi nobis, nesciunt omnis quos
         necessitatibus alias velit natus autem. Dolorum ipsum nihil sed delectus eligendi quibusdam fugiat blanditiis animi.
         Asperiores?Lorem ipsum, dolor sit amet consectetur adipisicing elit. Commodi nisi nobis, nesciunt omnis quos
         necessitatibus alias velit natus autem. Dolorum ipsum nihil sed delectus eligendi quibusdam fugiat blanditiis animi.
         Asperiores?
      </p>
   </section>


   <section id="awards">
      <h2 class="main-title">
         <span>
            <span class="mil-thin">Our</span>
         </span>awards
      </h2>
      <div class="award_box">
         {% for award in awards %}
         <div class="award">
            <img src="{{ award.image.url }}">
            <div>
               <h5>{{ award.title }}</h5>
               <h4>{{ award.year }}</h4>
               {% if award.description %}
               <h4>{{ award.description }}</h4>
               {% endif %}
            </div>
         </div>
         {% endfor %}     
      </div>
   </section>


   <section id="gallery">
      <h2 class="main-title">
         <span>
            <span class="mil-thin">Our</span>
         </span>gallery
      </h2>
      {% for gallery in galleries %}
      <h3>{{ gallery }}</h3>
      <div class="gallery">
         {% for image in gallery.images.all %}
         <div class="image">
            <div class="img"><img src="{{ image.file.url }}"></div>
            <h4>{{ image.title }}</h4>
         </div>
         {% endfor %}
      </div>
      {% endfor %}    
   </section>



   <!-- <h2 id="gallery">{% trans "Gallery" %}</h2>
   {% for gallery in galleries %}
   <h3>{{ gallery }}</h3>
   <div style="display: flex;">
      {% for image in gallery.images.all %}
      <div style="justify-content: row; margin: 10px;">
         <img src="{{ image.file.url }}" alt="" , height="auto" width="250">
         <br>
         {% if image.title %}
         {{ image.title }}        
         {% endif %}
      </div>
         {% endfor %}
   </div>
   {% endfor %}      -->




   <section id="team">
      <h2 class="main-title">
         <span>team
            <span class="mil-thin">members</span>
         </span>
      </h2>
      <div class="team_box">
         {% for member in team_members %}
         <div class="member">
            <img src="{{ member.avatar.url }}" alt="">
            <div class="member_over">
               <a href="#">{{ member.user }}</a>
               <span>{{ member.role }}</span>
               <div class="member_socials">
                  <a href="#">A</a>
                  <a href="#">B</a>
                  <a href="#">C</a>
               </div>
            </div>
         </div>
         {% endfor %}     
      </div>
   </section>


   <h2 id="solutions">{% trans "Solutions" %}</h2>
   <div style="display: flex;">
      {% for solution in solutions %}
      {% include "solutions/_solution_card.html" %}
      {% endfor %}   
   </div>

</main>
{% endblock content %}