{% extends "_base.html" %}
{% load i18n static %}
{% block title %}{{ page_title }}{% endblock title %}

{% block content %}
<main class="main_about">

   <!-- <h1 class="main-title">
      <span>About
         <span class="mil-thin">Us</span>
      </span>
   </h1> -->


   <!-- <ul>
      <li><a href="#who_we_are">{% trans "Who we are" %}</a></li>
      <li><a href="#strategies">{% trans "Strategies" %}</a></li>
      <li><a href="#team">{% trans "Team members" %}</a></li>
      <li><a href="#awards">{% trans "Awards" %}</a></li>
      <li><a href="#gallery">{% trans "Gallery" %}</a></li>
      <li><a href="#solutions">{% trans "Solutions" %}</a></li>
   </ul> -->

   <section id="who_we_are">
      <h2 class="main-title">
         <span>Alast
            <span class="mil-thin">story</span>
         </span>
      </h2>
      <p>
         When I was attracted to the profession of industrial design, I realized that it is a way for the industry and
         society to benefit from creativity. The same arrangement of industry and art as many would say; the same
         harmony of quality and quantity in one body of product, packaging or services; the same triumphant mix of
         shapes and colors with industrial production processes; It means the same creation and creativity that I was
         fascinated by, since my childhood unconsciously.
      </p>
      <p>
         As “Alast” is referred to the day when God made his covenant, it is the day of acceptance of existence in its
         immensity. So, Alast is the day of accepting the qualities of "rationality" and "creativity" for humans; In
         other words, it is the day of acceptance of the talent of "fine embroidery" and "art". So, we have been just a
         particle that has accepted immeasurability; Wow, what a welcome it has been! Because no border can be imagined
         for wisdom and imagination, then art can and should expand its territory to the infinity of thought and
         imagination. "Alast Design Studio" searches for its roots in that day so that it can think in the present and
         in the future and live immensity in the world of limited materials, sizes, colors and materialistic properties.
      </p>
      <p>
         Behin Afrainesh Aalst Company (Alast Design) has started operating in 1403 with the aim of providing various
         design services to the society and the industry. Alast design is proud to provide design services in various
         forms: Product, Service, Packaging geometry and graphics, UX/UI, PSS, Furniture and urban furniture,
         Interactive Kiosks, Graphics and Industrial Graphics, lighting, Light Vehicle Transportation, Industrial and
         Medical Equipment, Fashion and accessories.
      </p>
      <p>
         Alast increases competitiveness and demand for your goods and services by identifying product development paths
         and potential market needs and translating these needs into desired product functions. Alast will be your
         companion in design and/or consultation.
      </p>
      {% comment %}
      <p>
         داستان استودیو طراحی الست

         وقتی جذب حرفه طراحی صنعتی شدم که دریافتم مسیری است برای بهره‌مندی صنعت و جامعه از خلاقیت. همان آرایش صنعت با
         هنر که خیلی ها می‌گویند؛ همان هماهنگی کیفیت و کمیت در یک پیکره؛ همان آمیزش پیروزمندانه شکل‌ها و رنگ‌ها با
         فرایندهای تولید صنعتی؛ یعنی همان خلق کردن و خلاقیت که از کودکی و در ناخودآگاه، شیفته آن بودم.
      </p>
      <p>
         اگر بپذیریم که روز الست، روز پذیرش وجود در بی‌اندازگی آن است همان‌طور که اندیشه و خیال بی‌اندازه است آن‌گاه
         باید بپذیریم که الست روز پذیرش صفت "عقلانیت" و "خلاقیت" برای انسان است؛ به دیگر سخن، روز پذیرش استعداد
         "خردورزی" و "هنر" است. پس ذره‌ای بوده‌ایم که افردنس بی‌اندازگی را پذیرا شده‌ایم؛ وه که چه خوش پذیرشی بوده است!
         چون برای خرد و خیال مرزی نمی‌توان متصور شد پس هنر، می‌تواند و باید قلمروی خود را تا بیکرانه‌های اندیشه و خیال
         یگستراند. "الست دیزاین" ریشه خود را در آن روز جست و جو می‌کند تا بتواند در حال و آینده، الستی بیاندیشد و در
         عالم اندازه‌ها، بی‌اندازگی را زیست کند.
      </p>
      <p>
         شرکت بهین آفرینش الست (الست دیزاین) در سال 1403 با هدف ارائه خدمات متنوع طراحی شروع به فعالیت کرده است. حوزه
         های محصولی، سرویس دیزاین، هندسه و گرافیک بسته بندی، UX/UI، PSS، مبلمان و مبلمان شهری، کیوسکهای تعاملی، گرافیک و
         گرافیک صنعتی، طراحی موضوعات صنعتی، جهازات حمل و نقل سبک، تجهیزات پزشکی و اکسسوری از جمله زمینه های فعالیت تیم
         طراحی الست دیزاین است.
      </p>
      <p>
         الست با شناسایی مسیرهای توسعه محصول و نیاز های بالقوه بازار و ترجمه این نیازها به عملکردهای مطلوب محصول، رقابت
         پذیری و تقاضای برای کالا و خدمات شما را افزایش می دهد. الست، همراه شما در طراحی و/یا مشاوره خواهد بود.
      </p>
      <p>
         الست؛ خالق ارزش برند شما؛ صعود ارزش برند خود را از دید مشتریانتان، با ما تجربه کنید.
      </p>
      {% endcomment %}

   </section>

   {% comment %}
     
   <section id="strategies">
      <h2 class="main-title">
         <span>
            <span class="mil-thin">Our</span>
         </span>Strategies
      </h2>      
   </section>
   {% endcomment %}


   <section id="awards">
      {% include "components/_show_awards.html" %}
   </section>


   <section id="gallery">
      <h2 class="main-title">
         <span>
            <span class="mil-thin">Our</span>
         </span>gallery
      </h2>
      {% for gallery in galleries %}
      <h3>{{ gallery }}</h3>
      <div class="gallery">
         {% for image in gallery.images.all %}
         <div class="gal_image">
            <div class="img"><img src="{{ image.file.url }}"></div>
            <h4>{{ image.title }}</h4>
         </div>
         {% endfor %}
      </div>
      {% endfor %}
   </section>


   <section id="team">
      {% include "components/_show_team_members.html" %}
   </section>


   <section id="solutions">
      <h2 class="main-title">
         <span>
            <span class="mil-thin">Newest</span>
         </span>Solutions
      </h2>
      <!-- <a href="" class="btn btn-white no-rm">view all solutions<img src="{% static 'assets/g1b.svg' %}"></a> -->
      <!-- <br><br><br> -->
      <div class="solution_box">
         {% for solution in solutions|slice:":2" %}
         {% include "solutions/_solution_card.html" %}
         {% endfor %}
      </div>
   </section>

</main>
{% endblock content %}