{% extends "_base.html" %}
{% load i18n %}
{% block title %}{{ page_title }}{% endblock title %}

{% block content %}
 <h1>{% trans "Solutions" %}</h1> 
 <ul>
    <li>{% trans "Products" %} </li>
    <li>{% trans "Furniture" %}</li>
    <li>{% trans "Graphic design" %}</li>
    <li>{% trans "Packaging" %}</li>
    <li>{% trans "PSS" %}</li>
    <li>{% trans "Service" %}</li>
    <li>{% trans "Brand" %}</li>
    <li>{% trans "UCID research" %}</li>
    <li>{% trans "UX research" %}</li>
 </ul>
{% endblock content %}