{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description"
		content="Behin Afrainesh Alast Company (Alast Design Studio) is the provider of various design services including:
        Physical and Digital Product Design & UI/UX, Packaging Design, Urban Furniture Design, Interior Design,
        Service Design, PSS Design, Graphic and Industrial Graphic Design.">
	<meta property="og:title" content="Alast Design Studio" />
    <meta property="og:description" content="ارائه دهنده خدمات متنوع دیزاین، طراحی صنعتی و محصول، طراحی بسته بندی و طراحی خدمات" />
    <meta property="og:image" content="{% static 'generals/img/Alast-Logo-green-dark.jpg' %}" />
    <meta property="og:url" content="https://alastdesign.com" />
    <meta property="og:type" content="website" />
	<title>Alast design {% block title %}{% endblock title %}</title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
	{% block head %}
	  
	{% endblock head %}
</head>

<body>
	<header>
		{% include "components/_header.html" %}
	</header>

	{% comment %}
	{% if not page_title == 'home' or not page_title == 'Contact us' %}
	<div class="crumbbox">
		<div class="crumbline"><!-- must be empty --></div>
		<div class="breadcrumb">
			<!-- <a href="{% url 'generals:home' %}">Home</a> -->

			{% for item, link in crumbs %}
			<!-- <span> / </span> -->
			{% if link %}
			<a href="{% url link %}">{{ item }}</a>
			{% else %}
			{{ item }}
			{% endif %}

			{% if not forloop.last %}
			<span> / </span>
			{% endif %}
			{% endfor %}

			{#Branding and Identity design#}
		</div>
	</div>
	{% endif %}
	{% endcomment %}

	<!-- <svg width="200" height="180" xmlns="http://www.w3.org/2000/svg">
		<rect x="30" y="30" height="110" width="110" style="stroke:green;fill:red">
		<animateTransform
			attributeName="transform"
			begin="0s"
			dur="10s"
			type="rotate"
			from="0 85 85"
			to="360 85 85"
			repeatCount="indefinite" />
		</rect>
		Sorry, your browser does not support inline SVG.
	</svg> -->

	{% block content %}

	{% endblock content %}

	<span class="page-title">{{ page_title }}</span>

	<footer>
		{% include "components/_footer.html" %}
	</footer>
	{% block script %}
	  
	{% endblock script %}
</body>

</html>