{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alast design {% block title %}{% endblock title %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
</head>
<body>
    <header>
        {% include "components/_header.html" %}
    </header>

	{% if not page_title == 'Home' or not page_title == 'Contact us' %}
	<div class="crumbbox">
		<div class="crumbline"><!-- must be empty --></div>
		<div class="breadcrumb">
			<!-- <a href="{% url 'generals:home' %}">Home</a> -->
			
			{% for item, link in crumbs  %}
				<!-- <span> / </span> -->
				{% if link %}
					<a href="{% url link %}">{{ item }}</a>
				{% else %}
					{{ item }}
				{% endif %}
				
				{% if not forloop.last %}
					<span> / </span>                 
				{% endif %}
			{% endfor %}
		   
			{#Branding and Identity design#}
		</div>
	</div>
	{% endif %}
	
	<!-- <svg width="200" height="180" xmlns="http://www.w3.org/2000/svg">
		<rect x="30" y="30" height="110" width="110" style="stroke:green;fill:red">
		<animateTransform
			attributeName="transform"
			begin="0s"
			dur="10s"
			type="rotate"
			from="0 85 85"
			to="360 85 85"
			repeatCount="indefinite" />
		</rect>
		Sorry, your browser does not support inline SVG.
	</svg> -->

    {% block content %}
        
    {% endblock content %}
    
	<span class="page-title">{{ page_title }}</span>

    <footer>
       {% include "components/_footer.html" %}
    </footer>    
</body>
</html>