{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alast design {% block title %}{% endblock title %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
</head>
<body>
    <header>
        {% include "_header.html" %}                
    </header>
    <main>
        <div class="crumbbox">
            <div class="crumbline"><!-- must be empty --></div>
            <div class="braedcrumb">
               <a href="{% url 'generals:home' %}">Home</a>
               <span> / </span>
               {% for item, link in crumbs  %}
               {% if link %}
               <a href="{% url link %}">{{ item }}</a>
               {% else %}
               {{ item }}
               {% endif %}
               
               {% if not forloop.last %}
               <span> / </span>                 
               {% endif %}
               
               {% endfor %}
               
               {#Branding and Identity design#}
            </div>
        </div>
        {% block content %}
        
        {% endblock content %}
    </main>

    <span class="page-title">
        <a href="{% url 'generals:home' %}">Homepage</a>
    </span>
    
    <footer>
       {% include "_footer.html" %}
    </footer>    
</body>
</html>