{% load i18n static %}
<nav>
    <img src="{% static 'generals/img/logo.png' %}" alt="">  
    <a href="{% url 'generals:home' %}">|  {% trans "Home" %}  |  </a>
    <a href="{% url 'solutions:solutions' %}">{% trans "Solutions" %}  |  </a>
    <a href="{% url 'generals:publications' %}">{% trans "Publications" %}  |  </a>
    <a href="{% url 'generals:clients' %}">{% trans "Clients" %}  |  </a>
    <a href="{% url 'generals:about_us' %}">{% trans "About us" %}  |  </a>
    <a href="{% url 'generals:contact_us' %}">{% trans "Contact us" %}  |  </a>
    <hr>
</nav>