{% load i18n static %}

<div class="solution">
	<div class="sol_img">
		<a href="{% url 'solutions:solution' solution.slug %}">
		   {% if solution.cover_image %}		   
		   <img src="{{ solution.cover_image.url }}" alt="{{ solution.title }}">        
		   {% endif %}
		</a>
	</div>

	<div>
		<div class="sol_top">
			<a href="{% url 'solutions:solution' solution.slug %}">
				<h4>{{ solution.title }}</h4>
			</a>
			<span>{{ solution.category }}</span>
		</div>  
		
		<p>{{ solution.description | truncatewords:5 }}</p>

		<a href="{% url 'solutions:solution' solution.slug %}" class="btn btn-white no-rm">More details<img src="{% static 'assets/g1b.svg' %}"></a>
	</div>
</div>