{% load i18n static %}

<div class="solution">
	<div class="sol_img">
		<a href="{% url 'solutions:solution' solution.slug %}">
		   {% if solution.thumbnail %}
		   <img src="{{ solution.thumbnail.url }}" alt="{{ solution.title }}" width="250px" height="auto">
		   {% else %}
		   <img src="{{ solution.cover_image.url }}" alt="{{ solution.title }}" width="250px" height="auto">        
		   {% endif %}
		</a>
	</div>

	<div>
		<div class="sol_top">
			<span>{{ solution.category }}</span>
			<a href="{% url 'solutions:solution' solution.slug %}">
				<h4>{{ solution.title }}</h4>
			</a>
		</div>  
		
		<p>{{ solution.description | truncatewords:5 }}</p>

		<a href="{% url 'solutions:solution' solution.slug %}" class="btn btn-white no-rm">More details<img src="{% static 'assets/g1b.svg' %}"></a>
	</div>
</div>