{% extends "_base.html" %}
{% load i18n static %}
{% block title %}{{ page_title }}{% endblock title %}

{% block content %} 
 <h1 class="main-title">
    <span>{% trans "Solutions" %}
       {#<span class="mil-thin">World Today</span>#}
    </span>
 </h1>
 
   {% for category in categories %}
      <a href="{% url 'solutions:solution_details' %}">
         <h1 class="main-title">
            <span class="mil-thin">{{ category }}</span>
         </h1>      
      </a>
      
      <div style="display: flex;">      
         {% for solution in category.solutions.all %}
         {% include "solutions/_solution_card.html" %}
         {% endfor %}
      </div>    

   {% endfor %}
   
{% endblock content %}