{% extends "_base.html" %}
{% load i18n static %}
{% block title %}{{ page_title }}{% endblock title %}

{% block content %}
<main class="main_solutions">

   <h1 class="main-title">
      <span>
         <span class="mil-thin">our</span>
      </span>{% trans "Solutions" %}
   </h1>

   {% comment %}
   {% include "../components/btns/wg-down-inside.html" with title='solutions' link='solutions' %}
   {% endcomment %}
   
   {% for category in categories %}

      <section id="solutions">
         <!-- <div class="solutions_top"> -->
            <h2 class="main-title">
               <span>{{ category }}
                  <span class="mil-thin"></span>
               </span>
            </h2>
            <!-- <a href="" class="btn btn-white no-rm">view all solutions<img src="{% static 'assets/g1b.svg' %}"></a> -->
         <!-- </div> -->

         <div class="solution_box">
            {% for solution in category.solutions.all %}
               {% include "solutions/_solution_card.html" %}
            {% endfor %}     
         </div>         
      </section>
            
   {% endfor %}
	
</main>
{% endblock content %}