{% load i18n static %}

<div class="solution client">
	<div class="sol_img">
		<a href="#" id="{{client.slug}}">
			<img src="{{ client.logo.url }}" alt="">
		</a>
	</div>

	<div>
		<div class="sol_top">
			<a href="#">
				<h4>{{ client.name }}</h4>
			</a>
		</div>
		<br>
		{% for solution in client.solutions.all %}
		<a href="{% url 'solutions:solution' solution.slug %}" class="btn btn-white no-rm">{{solution.title }}<img src="{% static 'assets/g1b.svg' %}"></a> <br>
		{% endfor %}
	</div>    
</div>