{% load i18n static %}

<div class="solution">
	<div class="sol_img">
		<!-- <a href="">
		   {% if solution.thumbnail %}
		   <img src="{{ solution.thumbnail.url }}" alt="{{ solution.title }}" width="250px" height="auto">
		   {% else %}
		   <img src="{{ solution.cover_image.url }}" alt="{{ solution.title }}" width="250px" height="auto">        
		   {% endif %}
		</a> -->
	</div>

	<div>
		<div class="sol_top">
			<img src="{{ client.logo.url }}" alt="" width="auto" height="150px">
			<a href="">
				<h4>{{ client }}</h4>
			</a>
		</div>
		
		<a href="#" class="btn btn-white no-rm">...<img src="{% static 'assets/g1b.svg' %}"></a>
	</div>    
</div>