{% extends "_base.html" %}
{% load i18n %}
{% block title %}{{ page_title }}{% endblock title %}

{% block content %}
<main class="main_clients">

   <h1 class="main-title">
      <span>
         <span class="mil-thin">Our</span>
         {% trans "Clients" %}
      </span>
   </h1>

   {% include "../components/btns/wg-down-inside.html" with title='clients' link='clients' %}

   <section id="clients">
      <div style="display: flex;">
         {% for client in clients %}     
         <div style="justify-content: row; margin: 30px;">
            <h2>{{ client }}</h2>
            <img src="{{ client.logo.url }}" alt="" width="auto" height="150px">
            <ul>
               {% for solution in client.solutions.all %}
               <li>  
                  <a href="{% url 'solutions:solution' solution.slug %}">{{ solution }}</a>
               </li>
               {% endfor %}
            </ul>
         </div>
         {% endfor %}
      </div>
   </section>
   
</main>
{% endblock content %}